.cab__buttons { *zoom: 1; }
.cab__buttons:before, .cab__buttons:after { content: " "; display: table; }
.cab__buttons:after { clear: both; }

.cols_white { min-height: 725px; }

.cab { padding: 10px; }

.cab__content { border-bottom: 1px solid #dde6ee; margin-bottom: 21px; padding-bottom: 7px; }
.cab__content.userdata { border-bottom: none; }

.cab__text { font-size: 12px; line-height: 1.4; }
.cab__text.password__text { margin-bottom: 34px; }

.cab__buttons { padding-left: 305px; }
.cab__buttons .btn { float: left; margin-right: 20px; }

.password__form { width: 780px; margin: 0 auto; }
.password__form .form .formline label { float: left; text-align: right; font-size: 14px; color: #25426c; font-weight: 600; }
.password__form .form .formline input { padding: 0 4px; }
.password__form .form .formline .formline__right { display: table; }
.password__form .form .formline .cab__captcha { position: relative; margin-bottom: 8px; }
.password__form .form .formline .cab__captcha i { background: url('../img/icons-sffceccb22e.png') 0 -1129px no-repeat; width: 29px; height: 36px; cursor: pointer; position: absolute; right: -38px; top: 6px; }
.password__form .form .formline .formline__captcha { width: 57px; }

.password__form .formline { margin-bottom: 10px; }
.password__form label { width: 220px; margin-right: 17px; height: 25px; padding-top: 5px; line-height: 1.2; }
.password__form input { height: 25px; line-height: 25px; border: 1px solid #b3b3b3; margin-right: 10px; border-radius: 3px; display: block; margin-bottom: 5px; width: 277px; }

.userdata .userdata__name { color: #25426c; font-size: 20px; margin-top: 20px; margin-bottom: 0.1em; }
.userdata .userdata__type { color: #666666; font-size: 14px; margin-bottom: 18px; }
.userdata .userdata__tabs { margin: 0 5px; }
.userdata .userdata__tabs .tabs { background: #96b8d5; }
.userdata .cab__buttons { border-top: 2px solid #dde6ee; padding-top: 20px; margin-top: 39px; margin-bottom: 20px; }
.userdata .userdata__tabs-content { margin: 19px 6px; }

.infotype__checkbox { margin-top: 17px; }
.infotype__checkbox .checkbox { display: block; text-decoration: underline; color: #00518c; cursor: pointer; line-height: 20px; margin-bottom: 4px; }
.infotype__checkbox .checkbox:hover { text-decoration: none; }
.infotype__checkbox .checkbox input { margin-top: 3px; margin-right: 5px; float: left; cursor: pointer; }

.cab__warning { text-align: right; margin-bottom: 20px; font-size: 12px; color: #666666; }
.cab__warning span { color: #cc3333; }

.label__title_mod { line-height: 1; }

.label__field { overflow: hidden; }
.label__field .label__title { width: auto; }

.radio { display: block; margin-bottom: 5px; font-size: 14px; }

.h2_form { height: 30px; margin: 43px 0 23px; padding: 0 630px 10px 0; line-height: 30px; border-bottom: 1px solid #dfe8ef; text-align: right; }

.cab__buttons_form { margin-bottom: 50px; }

.input_mini { width: 27px; }

.input_small { width: 68px; }

.input_medium { width: 104px; }
