.logo { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

html { background-color: #abbecf; }

body { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwcHgiIHN0b3AtY29sb3I9IiMyZjUyODgiLz48c3RvcCBvZmZzZXQ9IjYzMHB4IiBzdG9wLWNvbG9yPSIjYWJiZWNmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWJiZWNmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #2f5288), color-stop(630px, #abbecf), color-stop(100%, #abbecf)); background-image: -webkit-linear-gradient(#2f5288 0px, #abbecf 630px, #abbecf 100%); background-image: -moz-linear-gradient(#2f5288 0px, #abbecf 630px, #abbecf 100%); background-image: -o-linear-gradient(#2f5288 0px, #abbecf 630px, #abbecf 100%); background-image: linear-gradient(#2f5288 0px, #abbecf 630px, #abbecf 100%); font-family: "Open Sans", Arial, Tahoma, sans-serif; font-weight: 400; font-size: 12px; color: #333333; line-height: 1; }

a img, fieldset { border: none; }

a { color: #00518c; text-decoration: none; }
a:hover { text-decoration: underline; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { width: 960px; margin: 0 auto; background: #25426c; box-shadow: #25426c 0px 1px 0 1px inset; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIxMDhweCIgc3RvcC1jb2xvcj0iIzMxNTA3ZCIvPjxzdG9wIG9mZnNldD0iMTcwcHgiIHN0b3AtY29sb3I9IiMyMTY1OWMiLz48c3RvcCBvZmZzZXQ9IjI2MHB4IiBzdG9wLWNvbG9yPSIjMzE1MDdkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjU0MjZjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(108px, #31507d), color-stop(170px, #21659c), color-stop(260px, #31507d), color-stop(100%, #25426c)); background-image: -webkit-linear-gradient(#31507d 108px, #21659c 170px, #31507d 260px, #25426c 100%); background-image: -moz-linear-gradient(#31507d 108px, #21659c 170px, #31507d 260px, #25426c 100%); background-image: -o-linear-gradient(#31507d 108px, #21659c 170px, #31507d 260px, #25426c 100%); background-image: linear-gradient(#31507d 108px, #21659c 170px, #31507d 260px, #25426c 100%); }

.title { padding: 10px 0 17px 0; margin-bottom: 15px; border-bottom: 1px solid #dde6ee; font-size: 24px; font-weight: 400; text-transform: uppercase; }

.h2 { font-size: 14px; font-weight: 400; text-transform: uppercase; }

.btn { height: 37px; padding: 0 17px; border-radius: 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YTVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjODZjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #24a5ee), color-stop(100%, #1c86cb)); background-image: -webkit-linear-gradient(#24a5ee, #1c86cb); background-image: -moz-linear-gradient(#24a5ee, #1c86cb); background-image: -o-linear-gradient(#24a5ee, #1c86cb); background-image: linear-gradient(#24a5ee, #1c86cb); border: 1px solid #258fcd; box-shadow: #48b4f0 1px 1px 0 inset, rgba(203, 200, 194, 0.25) 1px 1px 2px; font-size: 16px; font-weight: 600; color: white; }

.btn_gray { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7)); background-image: -webkit-linear-gradient(#ffffff, #e7e7e7); background-image: -moz-linear-gradient(#ffffff, #e7e7e7); background-image: -o-linear-gradient(#ffffff, #e7e7e7); background-image: linear-gradient(#ffffff, #e7e7e7); border-color: #bababa; box-shadow: rgba(203, 200, 194, 0.25) 1px 1px 2px; color: #666666; }

.bottom { padding: 2px 0 25px 0; overflow: hidden; }
.bottom .social { margin-top: -2px; }

.back { float: left; height: 17px; line-height: 17px; margin-right: 20px; }
.back .ico-arr-l { position: relative; top: -1px; padding-right: 8px; }

.pagination { float: left; }
.pagination a, .pagination span { float: left; height: 17px; padding: 0 5px; margin-right: 5px; line-height: 17px; }
.pagination span { background: #dde6ee; color: #2f2f2f; }

.ico-video, .ico-photo, .ico-arr-r, .ico-arr-l { display: inline-block; }

.ico-video { background: url('../img/icons-sae1578561c.png') 0 -1698px no-repeat; width: 12px; height: 8px; }

.ico-photo { background: url('../img/icons-sae1578561c.png') 0 -1679px no-repeat; width: 12px; height: 9px; }

.ico-play { background: url('../img/icons-sae1578561c.png') 0 -967px no-repeat; width: 56px; height: 56px; }

.ico-s1 { background: url('../img/icons-sae1578561c.png') 0 -1543px no-repeat; width: 35px; height: 26px; }

.ico-s2 { background: url('../img/icons-sae1578561c.png') 0 -1303px no-repeat; width: 43px; height: 29px; }

.ico-s3 { background: url('../img/icons-sae1578561c.png') 0 -1500px no-repeat; width: 34px; height: 33px; }

.ico-s4 { background: url('../img/icons-sae1578561c.png') 0 -1066px no-repeat; width: 47px; height: 40px; }

.ico-s5 { background: url('../img/icons-sae1578561c.png') 0 -1579px no-repeat; width: 22px; height: 36px; }

.ico-s6 { background: url('../img/icons-sae1578561c.png') 0 -1251px no-repeat; width: 46px; height: 42px; }

.ico-s7 { background: url('../img/icons-sae1578561c.png') 0 -1468px no-repeat; width: 36px; height: 22px; }

.ico-s8 { background: url('../img/icons-sae1578561c.png') 0 -927px no-repeat; width: 41px; height: 30px; }

.ico-s9 { background: url('../img/icons-sae1578561c.png') 0 -482px no-repeat; width: 36px; height: 37px; }

.ico-s10 { background: url('../img/icons-sae1578561c.png') 0 -793px no-repeat; width: 31px; height: 31px; }

.ico-s11 { background: url('../img/icons-sae1578561c.png') 0 -589px no-repeat; width: 34px; height: 37px; }

.ico-s12 { background: url('../img/icons-sae1578561c.png') 0 -696px no-repeat; width: 37px; height: 40px; }

.ico-s13 { background: url('../img/icons-sae1578561c.png') 0 -324px no-repeat; width: 43px; height: 43px; }

.ico-s14 { background: url('../img/icons-sae1578561c.png') 0 -746px no-repeat; width: 27px; height: 37px; }

.ico-book-1 { background: url('../img/icons-sae1578561c.png') 0 -834px no-repeat; width: 81px; height: 21px; }

.ico-book-2 { background: url('../img/icons-sae1578561c.png') 0 -896px no-repeat; width: 61px; height: 21px; }

.ico-book-3 { background: url('../img/icons-sae1578561c.png') 0 -865px no-repeat; width: 71px; height: 21px; }

.ico-fl1 { background: url('../img/icons-sae1578561c.png') 0 -174px no-repeat; width: 57px; height: 35px; }

.ico-fl2 { background: url('../img/icons-sae1578561c.png') 0 -377px no-repeat; width: 57px; height: 35px; }

.ico-fl3 { background: url('../img/icons-sae1578561c.png') 0 -219px no-repeat; width: 57px; height: 35px; }

.ico-arr-l { background: url('../img/icons-sae1578561c.png') 0 -1178px no-repeat; width: 8px; height: 8px; }

.ico-arr-r { background: url('../img/icons-sae1578561c.png') 0 -1748px no-repeat; width: 7px; height: 7px; }

.ico-print { background: url('../img/icons-sae1578561c.png') 0 -1443px no-repeat; width: 16px; height: 15px; }

.ico-word-d { background: url('../img/icons-sae1578561c.png') 0 -1393px no-repeat; width: 16px; height: 15px; }

.ico-point-d { background: url('../img/icons-sae1578561c.png') 0 -1418px no-repeat; width: 16px; height: 15px; }

.ico-exel-d { background: url('../img/icons-sae1578561c.png') 0 -1342px no-repeat; width: 16px; height: 15px; }

.ico-photo-d { background: url('../img/icons-sae1578561c.png') 0 -1367px no-repeat; width: 14px; height: 16px; }

.header { position: relative; height: 108px; padding: 0 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NzBhYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiNGE3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4670ac), color-stop(100%, #2b4a77)); background-image: -webkit-linear-gradient(#4670ac, #2b4a77); background-image: -moz-linear-gradient(#4670ac, #2b4a77); background-image: -o-linear-gradient(#4670ac, #2b4a77); background-image: linear-gradient(#4670ac, #2b4a77); }

.languages { float: left; margin: 25px 15px 0 0; }
.languages a { display: block; height: 19px; padding: 0 5px; margin-bottom: 3px; line-height: 19px; font-size: 11px; color: white; }
.languages a.active { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkOGFjZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2YWNmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1d8acf), color-stop(100%, #26acf5)); background-image: -webkit-linear-gradient(#1d8acf, #26acf5); background-image: -moz-linear-gradient(#1d8acf, #26acf5); background-image: -o-linear-gradient(#1d8acf, #26acf5); background-image: linear-gradient(#1d8acf, #26acf5); }

.logo { float: left; margin: 7px 7px 0 0; background: url('../img/icons-sae1578561c.png') 0 0 no-repeat; width: 86px; height: 86px; }

.flag { float: left; width: 3px; height: 68px; margin: 21px 11px 0 0; background: #f8ea1b; }
.flag i { display: block; height: 50%; background: #00518c; }

.header__top, .header__bottom { overflow: hidden; }

.header__top { margin-bottom: 10px; }

.header__title { float: left; margin-top: 22px; color: white; }
.header__title h1 { margin-bottom: 2px; font-size: 20px; font-weight: 400; }

.header__links { float: right; }
.header__links a { float: left; margin-left: 8px; height: 27px; padding: 0 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YTVlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjODZjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #24a5ed), color-stop(100%, #1c86cb)); background-image: -webkit-linear-gradient(#24a5ed, #1c86cb); background-image: -moz-linear-gradient(#24a5ed, #1c86cb); background-image: -o-linear-gradient(#24a5ed, #1c86cb); background-image: linear-gradient(#24a5ed, #1c86cb); border-radius: 0 0 5px 5px; line-height: 27px; color: white; }

.header__search { float: left; width: 221px; height: 23px; background: white; }
.header__search input, .header__search button { float: left; }
.header__search input { width: 190px; height: 23px; margin-left: 5px; }
.header__search button { background: url('../img/icons-sae1578561c.png') 0 -1033px no-repeat; width: 23px; height: 23px; }

.header__nav, .footer__nav { float: right; }
.header__nav ul, .footer__nav ul { margin-top: 5px; overflow: hidden; }
.header__nav li, .footer__nav li { float: left; padding: 0 10px; border-left: 1px solid #476b8f; }
.header__nav li:first-child, .footer__nav li:first-child { border: none; }
.header__nav a, .footer__nav a { color: white; }

.social { float: right; }
.social a, .social span { float: left; }
.social a { margin-left: 11px; }
.social span { height: 21px; margin-right: 2px; line-height: 21px; }

.social__fb { background: url('../img/icons-sae1578561c.png') 0 -1220px no-repeat; width: 21px; height: 21px; }

.social__tw { background: url('../img/icons-sae1578561c.png') 0 -1147px no-repeat; width: 21px; height: 21px; }

.social__vk { background: url('../img/icons-sae1578561c.png') 0 -1116px no-repeat; width: 21px; height: 21px; }

.nav { position: relative; z-index: 100; }
.nav ul { height: 35px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZDE3OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2c2), color-stop(100%, #f3d178)); background-image: -webkit-linear-gradient(#fff2c2, #f3d178); background-image: -moz-linear-gradient(#fff2c2, #f3d178); background-image: -o-linear-gradient(#fff2c2, #f3d178); background-image: linear-gradient(#fff2c2, #f3d178); }
.nav li { position: relative; float: left; border-left: 1px solid #d9b556; }
.nav li:first-child { border: none; }
.nav li:first-child a { border: none; }
.nav li:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxYmU2MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2c2), color-stop(100%, #e1be60)); background-image: -webkit-linear-gradient(#fff2c2, #e1be60); background-image: -moz-linear-gradient(#fff2c2, #e1be60); background-image: -o-linear-gradient(#fff2c2, #e1be60); background-image: linear-gradient(#fff2c2, #e1be60); }
.nav li:hover ul { display: block; }
.nav li ul { display: none; position: absolute; top: 35px; left: 0; height: auto; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZDA3NSIvPjxzdG9wIG9mZnNldD0iMzIlIiBzdG9wLWNvbG9yPSIjZmZmMmMyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3d075), color-stop(32%, #fff2c2)); background-image: -webkit-linear-gradient(#f3d075, #fff2c2 32%); background-image: -moz-linear-gradient(#f3d075, #fff2c2 32%); background-image: -o-linear-gradient(#f3d075, #fff2c2 32%); background-image: linear-gradient(#f3d075, #fff2c2 32%); border-top: 1px solid #d3b560; }
.nav li ul li { float: none; border-width: 0 0 1px 0; border-color: #e2bf63; border-style: solid; }
.nav li ul li:first-child { border-top: 3px solid #e0bc5d; border-bottom: 1px solid #e2bf63; }
.nav li ul li:hover { background: none; }
.nav li ul a { position: relative; height: 26px; line-height: 26px; white-space: nowrap; font-size: 13px; font-weight: normal; text-transform: none; }
.nav li ul a:before { content: ""; position: absolute; top: 12px; left: 10px; width: 6px; height: 6px; background: #e1c370; box-shadow: #c7b680 1px 1px 1px 1px inset; }
.nav a { display: block; height: 35px; padding: 0 26px; border-left: 1px solid white; line-height: 35px; font-weight: 600; font-size: 13px; color: #25426c; text-transform: uppercase; }

.nav_fixed { position: fixed; top: 0; left: 50%; width: 960px; margin-left: -480px; }

.tape { height: 21px; margin-top: 8px; padding-bottom: 12px; line-height: 21px; color: white; overflow: hidden; }

.tape__title { position: relative; float: left; padding: 0 7px 0 31px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMzEwYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MxMjYwMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0310b), color-stop(100%, #c12602)); background-image: -webkit-linear-gradient(#e0310b, #c12602); background-image: -moz-linear-gradient(#e0310b, #c12602); background-image: -o-linear-gradient(#e0310b, #c12602); background-image: linear-gradient(#e0310b, #c12602); }
.tape__title i { position: absolute; top: 4px; left: 11px; background: url('../img/icons-sae1578561c.png') 0 -1196px no-repeat; width: 13px; height: 14px; }

.tape__control { float: right; margin: 2px 10px 0 0; }
.tape__control button { float: left; margin-left: 9px; }

.tape__play { background: url('../img/icons-sae1578561c.png') 0 -1625px no-repeat; width: 17px; height: 17px; }

.tape__pause { background: url('../img/icons-sae1578561c.png') 0 -1652px no-repeat; width: 17px; height: 17px; }

.tape__info { position: relative; padding: 0 5px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1OGJjOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxNjU5YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #258bc8), color-stop(100%, #21659c)); background-image: -webkit-linear-gradient(#258bc8, #21659c); background-image: -moz-linear-gradient(#258bc8, #21659c); background-image: -o-linear-gradient(#258bc8, #21659c); background-image: linear-gradient(#258bc8, #21659c); overflow: hidden; }
.tape__info:after { content: ""; position: absolute; top: 0; right: 0; width: 40px; height: 21px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgzNCwgOTAsIDE0MiwgMCkiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzIxNjU5YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(34, 90, 142, 0)), color-stop(75%, #21659c)); background-image: -webkit-linear-gradient(left, rgba(34, 90, 142, 0) 0%, #21659c 75%); background-image: -moz-linear-gradient(left, rgba(34, 90, 142, 0) 0%, #21659c 75%); background-image: -o-linear-gradient(left, rgba(34, 90, 142, 0) 0%, #21659c 75%); background-image: linear-gradient(left, rgba(34, 90, 142, 0) 0%, #21659c 75%); }

.tape__move { position: relative; height: 21px; overflow: hidden; }
.tape__move p { position: absolute; top: 0; left: 0; white-space: nowrap; }

.footer { margin-top: 14px; padding: 0 9px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NDI2YyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjM1NDg1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjU0MjZjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #25426c), color-stop(50%, #235485), color-stop(100%, #25426c)); background-image: -webkit-linear-gradient(#25426c 0%, #235485 50%, #25426c 100%); background-image: -moz-linear-gradient(#25426c 0%, #235485 50%, #25426c 100%); background-image: -o-linear-gradient(#25426c 0%, #235485 50%, #25426c 100%); background-image: linear-gradient(#25426c 0%, #235485 50%, #25426c 100%); }
.footer .cols { height: 97px; margin: 0 0 10px 0; padding: 0; }
.footer .social { float: left; }
.footer .social a { margin: 0 9px 0 0; }

.footer__container { overflow: hidden; }

.footer__title { margin-bottom: 10px; color: white; }

.footer__title_mod { margin-left: 94px; }

.footer__bottom { position: relative; height: 43px; border-top: 1px solid #51657d; }

.footer__nav ul { margin-top: 15px; }
.footer__nav a { font-size: 11px; }

.counter { position: absolute; top: 11px; left: 50%; margin-left: -92px; opacity: 0.26; }
.counter:hover { opacity: 1; }

.copyright { float: left; padding-top: 15px; color: white; font-size: 11px; }

.links-out { margin-bottom: 20px; overflow: hidden; }
.links-out a { position: relative; float: left; width: 300px; height: 35px; padding: 5px; margin-right: 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZDE3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff2c2), color-stop(100%, #f3d177)); background-image: -webkit-linear-gradient(#fff2c2, #f3d177); background-image: -moz-linear-gradient(#fff2c2, #f3d177); background-image: -o-linear-gradient(#fff2c2, #f3d177); background-image: linear-gradient(#fff2c2, #f3d177); border-radius: 5px; line-height: 35px; font-size: 15px; font-weight: 700; }
.links-out a:after { content: ""; position: absolute; top: 18px; right: 15px; width: 0px; height: 0px; border-style: solid; border-width: 0 9px 9px 0; border-color: transparent #929ea4 transparent transparent; }
.links-out .links-out__last { width: 290px; margin: 0; }
.links-out i { float: left; margin-right: 14px; }

.breadcrumbs { padding: 12px; overflow: hidden; }
.breadcrumbs li { float: left; color: white; }
.breadcrumbs a { font-size: 11px; color: #f8df97; }
.breadcrumbs span { margin: 0 6px; }

.tabs { padding: 8px 5px 0 5px; overflow: hidden; }

.tabs__list { float: left; }
.tabs__list li { float: left; height: 35px; padding: 0 15px; margin-right: 4px; background: rgba(255, 255, 255, 0.5); border-radius: 5px 5px 0 0; line-height: 35px; font-size: 14px; color: #00518c; cursor: pointer; }
.tabs__list li.active { color: black; background: white; }
.tabs__list .tabs__title { padding: 0 10px; background: white; color: black; }
.tabs__list .tabs__title span { margin-right: 5px; font-weight: 700; color: #cc3333; }

.tabs__navi { float: right; margin-top: 7px; }
.tabs__navi button { float: left; width: 17px; height: 17px; background: none; font-size: 12px; color: #00518c; }
.tabs__navi button.active { background: white; color: #2f2f2f; }

.more { position: absolute; bottom: 13px; right: 13px; font-size: 11px; color: #cc3333; }

.banner-customs:hover, .banner-legistation:hover, .banner-legistation:hover, .banner-declaration:hover, .banner-business:hover, .banner-items:hover, .banner-centres:hover { text-decoration: none; }

.banner-customs, .banner-legistation { position: relative; display: block; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNDM1MiIvPjxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjNGY1MjVkIi8+PHN0b3Agb2Zmc2V0PSI1NCUiIHN0b3AtY29sb3I9IiMzNzM5NDIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTE4MWMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a4352), color-stop(47%, #4f525d), color-stop(54%, #373942), color-stop(100%, #15181c)); background-image: -webkit-linear-gradient(#3a4352 0%, #4f525d 47%, #373942 54%, #15181c 100%); background-image: -moz-linear-gradient(#3a4352 0%, #4f525d 47%, #373942 54%, #15181c 100%); background-image: -o-linear-gradient(#3a4352 0%, #4f525d 47%, #373942 54%, #15181c 100%); background-image: linear-gradient(#3a4352 0%, #4f525d 47%, #373942 54%, #15181c 100%); color: white; }
.banner-customs span, .banner-legistation span { display: block; padding: 6px 0 2px 0; font-family: Impact, Arial, Tahoma, sans-serif; }

.banner-customs { margin: 10px 0; height: 72px; padding-left: 15px; }
.banner-customs span { font-size: 39px; }
.banner-customs strong { font-family: Arial, Tahoma, sans-serif; font-size: 17px; }
.banner-customs i { position: absolute; top: 4px; right: 22px; background: url('../img/icons-sae1578561c.png') 0 -96px no-repeat; width: 64px; height: 68px; }

.banner-customs_mod { margin: 0; }

.banner-legistation { height: 80px; text-align: center; }
.banner-legistation span { padding: 10px 0; font-size: 28px; }
.banner-legistation ul { margin-left: 3px; overflow: hidden; }
.banner-legistation li { float: left; line-height: 21px; font-weight: 600; }

.banner-declaration { display: block; height: 251px; padding: 13px; background: url(../img/pic4.jpg) no-repeat 50% 50% white; text-align: center; }
.banner-declaration span { display: block; padding: 100px 0 5px 0; font-size: 25px; font-weight: bold; }
.banner-declaration strong { font-family: "Arial Black", Arial, Tahoma, sans-serif; font-size: 33px; color: #cc3333; text-transform: uppercase; }

.banner-business, .banner-items, .banner-centres { display: block; }
.banner-business strong, .banner-items strong, .banner-centres strong { display: block; padding: 6px 0; background: #4c70a5; text-align: center; font-size: 14px; color: white; }

.banner-items, .banner-centres { height: 110px; }

.banner-items { background: url(../img/pic6.jpg) no-repeat 0 100%; }

.banner-centres { background: url(../img/pic7.jpg) no-repeat 0 100%; }

.banner-business { height: 122px; margin-bottom: 10px; background: url(../img/pic5.jpg) no-repeat 50% 37px white; }

.banner-business_mod { margin-bottom: 0; }
