.announcements, .videoscenes { margin-bottom: 10px; background: #dde6ee; }

.announcements__content { background: white; }
.announcements__content li { position: relative; padding: 5px 10px 25px 10px; }
.announcements__content span { display: block; margin-bottom: 5px; font-size: 12px; color: black; }
.announcements__content a { font-size: 13px; line-height: 1.3; }
.announcements__content .more { bottom: 7px; }

.announcements_slider { margin-bottom: 0; }
.announcements_slider .announcements__content li { height: 70px; }
.announcements_slider .announcements__content .more { bottom: 12px; }

.announcements__all { padding: 0 0 20px 14px; background: white; }
.announcements__all a { color: #cc3333; }
.announcements__all .ico-arr-r { margin-left: 5px; }

.videoscenes_mod { margin: 0; }

.videoscenes__slider { background: white; }
.videoscenes__slider li { height: 154px; padding: 8px 10px; }
.videoscenes__slider img, .videoscenes__slider a { display: block; }
.videoscenes__slider a { position: relative; }
.videoscenes__slider p { position: absolute; left: 0; right: 0; bottom: 0; padding: 10px 8px; background: rgba(36, 36, 36, 0.85); font-family: Arial, Tahoma, sans-serif; font-family: 12px; line-height: 1.2; color: white; }
.videoscenes__slider .ico-play { position: absolute; top: 50px; left: 50%; margin-left: -28px; z-index: 5; }

.aside-nav { margin-bottom: 10px; }
.aside-nav .tabs { padding: 8px 8px 0 8px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZmJmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IwZGVmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5fbfe), color-stop(100%, #b0def8)); background-image: -webkit-linear-gradient(#f5fbfe, #b0def8); background-image: -moz-linear-gradient(#f5fbfe, #b0def8); background-image: -o-linear-gradient(#f5fbfe, #b0def8); background-image: linear-gradient(#f5fbfe, #b0def8); }

.aside-nav__list { padding: 10px 0; background: white; }
.aside-nav__list li { position: relative; padding: 0 0 3px 22px; line-height: 1.4; }
.aside-nav__list li:before { content: ""; position: absolute; top: 5px; left: 9px; width: 6px; height: 6px; background: #a4d1ef; }
.aside-nav__list a { font-size: 12px; }

.aside-nav__links { border-top: 1px solid #dde6ee; }
.aside-nav__links li { border-bottom: 1px solid #dde6ee; }
.aside-nav__links a { display: block; padding: 7px 10px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZjhmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfeff), color-stop(100%, #eff8fd)); background-image: -webkit-linear-gradient(#fcfeff, #eff8fd); background-image: -moz-linear-gradient(#fcfeff, #eff8fd); background-image: -o-linear-gradient(#fcfeff, #eff8fd); background-image: linear-gradient(#fcfeff, #eff8fd); font-size: 12px; line-height: 1.2; }

.question { padding: 10px 10px 30px 10px; background: white; }
.question p { margin-bottom: 20px; font-weight: 600; color: #003366; line-height: 1.3; }
.question label { position: relative; display: block; margin-bottom: 5px; padding-left: 20px; line-height: 1.2; }
.question label input { position: absolute; top: 0; left: 0; }

.question__title { margin-bottom: 10px; font-size: 14px; text-transform: uppercase; }

.question__btn { margin-top: 20px; overflow: hidden; }
.question__btn .btn { float: left; height: 28px; margin-right: 10px; padding: 0 9px; font-size: 14px; font-weight: 400; cursor: pointer; }
.question__btn a { display: block; margin: 1px 0 3px 0; }

.news, .videos { padding: 10px; }

.news__list, .videos__list { padding-bottom: 8px; }

.news__title, .videos__title { margin-bottom: 10px; }
.news__title span, .videos__title span { display: block; margin-bottom: 5px; color: #00518c; }
.news__title span i, .videos__title span i { margin-left: 6px; }
.news__title a, .videos__title a { font-size: 14px; color: black; line-height: 1.2; }

.videos__title p { font-size: 14px; color: black; line-height: 1.2; }
.videos__title span i { margin: 0 6px 0 0; }

.videos__player { position: relative; margin: 15px 0; cursor: pointer; }
.videos__player i { position: absolute; top: 50%; left: 50%; margin: -43px 0 0 -43px; }

.news__content, .videos__content { margin-bottom: 20px; overflow: hidden; }
.news__content img, .videos__content img { float: left; margin-right: 10px; border: 1px solid #9eb2c3; }
.news__content p, .videos__content p { margin-bottom: 10px; overflow: hidden; line-height: 1.3; color: #666666; }
.news__content p i, .videos__content p i { margin-left: 8px; }

.videos__content p { color: #333333; }
.videos__content a i { margin-left: 8px; }

.news__detail { margin-bottom: 5px; overflow: hidden; }
.news__detail span { display: block; margin-bottom: 15px; color: #666666; }
.news__detail img { float: left; margin: 0 11px 11px 0; border: 1px solid #9eb2c3; }
.news__detail p { margin-bottom: 15px; font-size: 14px; color: #333333; line-height: 1.2; }

.link-print { position: absolute; bottom: -7px; right: 0; padding-left: 8px; background: white; }
.link-print i { display: block; }

.materials-additional { margin-bottom: 25px; padding: 0 10px; }
.materials-additional .h2 { margin-bottom: 15px; }
.materials-additional li { margin-bottom: 8px; }
.materials-additional a { position: relative; padding-left: 21px; line-height: 1.4; }
.materials-additional a i { position: absolute; top: 1px; left: 0; }

.materials-theme { margin-bottom: 25px; padding: 0 10px; }
.materials-theme .h2 { margin-bottom: 10px; }
.materials-theme li { position: relative; margin-bottom: 5px; padding-left: 21px; }
.materials-theme li:before { content: ""; position: absolute; top: 3px; left: 7px; width: 6px; height: 6px; background: #a4d1ef; }

.slider { position: relative; padding: 0 10px; margin-bottom: 25px; }
.slider .h2 { margin-bottom: 10px; }

.slider__nav { position: absolute; top: 0; right: 14px; }
.slider__nav button { float: left; }
.slider__nav button { position: relative; width: 16px; height: 16px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YTVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjODZjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #24a5ee), color-stop(100%, #1c86cb)); background-image: -webkit-linear-gradient(#24a5ee, #1c86cb); background-image: -moz-linear-gradient(#24a5ee, #1c86cb); background-image: -o-linear-gradient(#24a5ee, #1c86cb); background-image: linear-gradient(#24a5ee, #1c86cb); border: 1px solid #258fcd; box-shadow: #48b4f0 1px 1px 0 inset, rgba(203, 200, 194, 0.25) 1px 1px 2px; border-radius: 2px; overflow: visible; }
.slider__nav button i { position: absolute; top: 2px; width: 0px; height: 0px; border-style: solid; }

.slider__count { float: left; padding: 0 5px; line-height: 16px; color: #666666; }

.slider__next i { right: 4px; border-width: 5px 0 5px 5px; border-color: transparent transparent transparent #bde1f6; }

.slider__prev i { left: 4px; border-width: 5px 5px 5px 0; border-color: transparent #bde1f6 transparent transparent; }

.slider__content { position: relative; overflow: hidden; }

.slider__items { position: absolute; width: 2000em; }
.slider__items ul { float: left; width: 460px; }
.slider__items li { float: left; margin-left: 4px; }
.slider__items li:first-child { margin: 0; }
.slider__items img { display: block; border: 1px solid #aabccb; }

.slider_photos .slider__content { height: 78px; }

.slider_videos .slider__content { height: 176px; }
.slider_videos .slider__content li { position: relative; width: 226px; }
.slider_videos .slider__content p { position: absolute; left: 0; right: 0; bottom: 0; padding: 10px 8px; background: rgba(36, 36, 36, 0.85); font-family: Arial, Tahoma, sans-serif; font-weight: bold; line-height: 1.2; color: white; }
.slider_videos .slider__content i { position: absolute; top: 50px; left: 50%; margin-left: -28px; z-index: 5; }

.photos-list { padding: 10px; }
.photos-list ul { margin-bottom: 15px; }
.photos-list li { padding: 11px 0; border-bottom: 1px solid #dde6ee; overflow: hidden; }
.photos-list li:first-child { padding: 0 0 11px 0; }
.photos-list img { float: left; margin-right: 10px; border: 1px solid #9eb2c3; }

.photos-list__desc { overflow: hidden; }
.photos-list__desc span { display: block; margin-bottom: 10px; color: #00518c; }
.photos-list__desc span i { margin-right: 6px; }
.photos-list__desc p { margin-bottom: 10px; font-size: 14px; line-height: 1.2; }
.photos-list__desc a { font-size: 11px; }
.photos-list__desc a i { margin-left: 7px; }

.photos-gallery { padding: 10px; margin-bottom: 7px; overflow: hidden; }
.photos-gallery ul { margin: 0 -9px; font-size: 0; text-align: center; }
.photos-gallery li { display: inline-block; width: 140px; vertical-align: top; margin: 0 9px 19px 9px; }
.photos-gallery img { border: 1px solid #dde6ee; }

.leadership { padding: 10px; }
.leadership li { padding: 12px 0; border-top: 1px solid #dde6ee; overflow: hidden; }
.leadership li:first-child { padding: 0 0 12px 0; border: none; }
.leadership li img { float: left; margin-right: 12px; border: 1px solid #dde6ee; }

.leadership__detail { padding-top: 5px; line-height: 1.2; }
.leadership__detail a { font-size: 16px; font-weight: 600; }
.leadership__detail p { margin: 20px 0 15px 0; }
.leadership__detail span { display: block; color: #917222; }

.leadership__desc { margin-bottom: 20px; font-size: 14px; overflow: hidden; }
.leadership__desc img { float: left; margin-right: 12px; border: 1px solid #dde6ee; }
.leadership__desc strong { display: block; margin-bottom: 15px; }

.leadership__info { margin-bottom: 25px; }
.leadership__info .h2, .leadership__info p { margin-bottom: 15px; }
.leadership__info p { font-size: 14px; line-height: 1.2; }
