/*styles for layouts */
.cols { padding: 0 10px; margin-bottom: 10px; overflow: hidden; }

.cols__220, .cols__230, .cols__240, .cols__460, .cols__470, .cols__480, .cols__720, .cols__710 { float: left; margin-right: 10px; }

.cols__220 { width: 220px; }

.cols__220_mod { margin: 0; }

.cols__230 { width: 230px; }

.cols__240 { width: 240px; }

.cols__460 { width: 460px; }

.cols__470 { width: 470px; }

.cols__480 { width: 480px; }

.cols__710 { width: 710px; }

.cols__710_mod { margin: 0; }

.cols__white, .cols_white { background: white; }
