.chosen-quest .tabs { *zoom: 1; }
.chosen-quest .tabs:before, .chosen-quest .tabs:after { content: " "; display: table; }
.chosen-quest .tabs:after { clear: both; }

.search-base { width: 100%; }
.search-base .formline label { width: 175px; }

.select_width { width: 650px; }
.select_width .userinfo__select { width: 100%; }

.btn_small { height: 27px; font-size: 14px; font-weight: 400; }

.text-center { margin: 0 auto 21px; width: 500px; line-height: 1.4; }

.title { position: relative; }

.link-feedback { position: absolute; bottom: -10px; right: 10px; padding: 0 12px; height: 35px; line-height: 35px; border: 1px solid #dfe7ef; border-radius: 7px; background-color: #c3e3f7; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzZTNmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c3e3f7), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #c3e3f7 0%, #ffffff 100%); background-image: -moz-linear-gradient(bottom, #c3e3f7 0%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #c3e3f7 0%, #ffffff 100%); background-image: linear-gradient(bottom, #c3e3f7 0%, #ffffff 100%); font-size: 14px; text-transform: capitalize; }
.link-feedback i, .link-feedback span { display: inline-block; vertical-align: middle; }
.link-feedback i { margin-right: 7px; background: url('../img/icons-s28898e965c.png') 0 -746px no-repeat; width: 32px; height: 24px; }

.table { width: 100%; line-height: 1.4; }
.table th { padding: 9px; background: #e6edf3; font-weight: 600; text-align: left; border-bottom: 2px solid #dde6ee; }
.table td { padding: 9px; border-bottom: 1px solid #dee7ef; border-top: 1px solid #dee7ef; }
.table tbody tr:nth-child(2n) td { background: #f2f5f8; }

.table_fixed-col { margin: 15px 0; }
.table_fixed-col tr:hover td { color: white; background: #2b6395; }
.table_fixed-col tr:hover td:first-child a { color: white; }
.table_fixed-col tr:hover:nth-child(2n) td { background: #2b6395; }
.table_fixed-col tr:hover a { color: white; text-decoration: none; }
.table_fixed-col td:first-child { width: 190px; }
.table_fixed-col td:first-child a { display: block; height: 100%; color: #333333; }

.table_links { margin-bottom: 15px; }
.table_links td { padding: 0; }
.table_links a { padding: 9px; }

.chosen-quest { clear: both; margin-bottom: 36px; padding-bottom: 20px; border-bottom: 1px solid #dee7ef; line-height: 1.4; }
.chosen-quest .h2 { margin: 0 0 15px 190px; }
.chosen-quest span { float: left; margin-right: 11px; padding-right: 3px; width: 177px; text-align: right; }
.chosen-quest .tabs { border-bottom: 1px solid #dde6ee; padding: 0; margin-top: -2px; overflow: visible; }
.chosen-quest .tabs .active { position: relative; top: 2px; border: 1px solid #dde6ee; border-bottom: 0; }
.chosen-quest .tabs li { border: 1px solid transparent; }

.chosen-quest__item { margin-bottom: 5px; overflow: hidden; line-height: 1.4; }

.chosen-quest__cont { overflow: hidden; }

.chosen-quest__main { margin-top: 20px; font-size: 14px; }
.chosen-quest__main span { padding: 5px 3px 5px 0; background: #2b6395; color: white; }

.chosen-quest__tab-item { display: none; padding: 15px 0 0 10px; }
