@import "base"
.sub-categ
    margin-bottom: 35px
    li 
        &:nth-child(2n)
            background: #f4f7f9 
    i, span, a 
        display: inline-block
    i
        margin-right: 7px
        +s($icons, quadrate)
    span
        margin-right: 8px
        color: #666 
    a
        padding: 6px 1px 
        font-size: 14px
        
.sub-categ__title 
    padding-bottom: 8px
    font-size: 14px
    font-weight: 600
    color: #c8a74f 
    text-transform: uppercase
    border-bottom: 1px solid #dfe8ef 
.faq-wrap
    padding-bottom: 40px
    .bottom 
        margin-left: 50px
.faq-wrap__title 
    margin-bottom: 7px
    font-size: 14px
    color: #333 
    font-weight: 600 
    text-transform: uppercase
.faq-wrap__sub-title
    margin: 18px 0 10px
    color: #666  
    font-weight: 600
    font-size: 12px
    text-transform: uppercase 
.faq-wrap__info
    display: block
    margin-bottom: 20px
    color: #666 
.bottom_right 
    float: right
.faq
    
    li
        position: relative
        margin-bottom: 28px
        padding: 5px 10px
        font-size: 14px
        line-height: 1.4  
        background: #ffffd9
        border: 1px solid #d9d9b3
        border-radius: 7px 
        @extend %clr
        &:before
            content: ""
            position: absolute
            bottom: -17px
            left: 60px
            +s($icons, faq-corner)
    p 
        margin-bottom: 3px
    a 
        font-size: 11px
    span 
        float: right
        color: #666
        font-size: 11px 
.message
    position: relative
    padding: 10px 17px 15px
    margin: 0 auto 21px
    width: 490px
    clear: both
    line-height: 1.4
    border-radius: 7px 
    border: 1px solid
    p
        margin-bottom: 14px
    span
        font-size: 14px
    ol 
        clear: both
        counter-reset: list1
    ol 
        ol 
            margin-top: 15px
            counter-reset: list2
    li
        margin-bottom: 15px
        &:before
            counter-increment: list1
            content: counter(list1) ". "
        li
            &:before
                counter-increment: list2
                content: counter(list1) "." counter(list2) ". "
    .bottom
        margin-top: 11px
        @extend %clr
    .pagination
        float: right
    .ico-arr-r
        margin-left: 10px
.message_red
    background: #ecd9d9 
    border-color:  #c7b4b4
.message_yellow
    background: #ffffec
    border-color: #ececd9 
.message_gray 
    background: #fafbfc
    border-color: #e5ebf1
.message_center
    font-size: 18px
    text-align: center
.message__title
    display: block
    width: 400px
    font-size: 15px
    color: #333 
    text-transform: uppercase
    font-weight: 600 
.message__roll 
    position: absolute
    right: 12px
    top: 12px
    color: #999
    font-size: 12px
    background: none  
    i 
        margin-left: 5px
        +s($icons, roll-right)
    span, i 
        display: inline-block
        vertical-align: middle
.message__roll.is-active
    i 
        +s($icons, roll-down)
.message__cont 
    margin-top: 21px
.faq-answer
    position: relative
    margin: 0 0 15px 31px
    padding: 10px 15px 
    font-size: 14px
    line-height: 1.4
    color: #333 
    background: #f3f9f3 
    border: 1px solid #c1d1c1
    border-radius: 7px 
    &:before
        content: ""
        position: absolute
        top: -17px
        left: 50px
        +s($icons, answer-corner)
    p 
        margin-bottom: 14px
.faq-answer__title
    display: block
    margin-bottom: 14px
    font-weight: 600 
.faq-answer__label
    position: absolute
    top: -21px
    left: 73px
    color: #666  
    font-weight: 600
    font-size: 12px
    text-transform: uppercase 
